.ug-fourth-third-section {

    position: relative;

}

.ug-fourth-section-container {
    max-width: 1440px;
    height: 100%;
    margin-top: 120px;
}

.ug-fourth-section-first-div {
   /*  background-color: #E6E7E7;   */
    border-radius: 48px;
    padding: 92px !important;
    
}

.ug-fourth-section-first-content-title {
    color: #131313;

    /* H2 */
    /* font-family: "Articulat CF"; */
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 82px; /* 113.889% */
}

.ug-fourth-section-first-content-description {
    margin-top: 32px;

    color: #131313;

    /* body-text-huge */
    font-family: Bahnschrift;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 133.333% */
}


@media (max-width: 1200px) {

    .ug-fourth-section-first-div {
        padding: 20px !important    ;
    }

    .rpp-landing-section-Btn-div {
        display: flex;
        justify-content: center;
    }

}


@media (max-width: 599px) {
    .ug-fourth-section-first-content-title {

        font-size: 32px;
        line-height: 40px; /* 125% */
    }

    .ug-fourth-section-first-content-description {
        font-size: 16px;
        line-height: 24px; /* 150% */
        margin-top: 14px;
    }

    .ug-fourth-section-container {
        margin-top: 0px !important;
    }
    
        
}


/* 
@media (max-width: 1440px) {

    .rpp-third-section-first-div {
        border-radius: 0px !important;
    }

}

@media (max-width: 1199px) {

    .rpp-third-section-first-content {
        margin-top: 12px;
    }

    .rpp-third-section-second-content {
        margin-top: 32px;
    }
    
    .rpp-third-section .rpp-section-first-content {
        padding-left: 0px !important;
    }

}


@media (max-width: 769px) {

    .rpp-third-section-first-div {
        padding: 20px;
    }

}

@media (max-width: 599px) {

    .rpp-third-section-first-content-title {
        max-width: 250px;
        font-size: 32px;
        line-height: 40px; /
    }
    
    .rpp-third-section-first-content-description {
       
        margin-top: 14px;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px; 
    }

}


 */