.ct-second-third-section {

    position: relative;

}

.ct-second-section-container {
    max-width: 1440px;
    height: 100%;
    padding-top: 0px;
}

.ct-second-section-first-div {
    background-color: #fff;  
    border-radius: 48px;
    padding: 92px;
    
}

.ct-second-section-first-content-title {
    color: #131313;
    max-width: 500px;
    /* H2 */
    /* font-family: "Articulat CF"; */
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 82px; /* 113.889% */
}

.ct-second-section-first-content-title span {
    color: #1681C2;
}

.ct-second-section-first-content-description {
    margin-top: 32px;
    color:  #131313;

    /* body-text-huge */
    font-family: Bahnschrift;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 133.333% */
}


.ct-second-section-first-content-img {
    position: relative;
}

.ct-second-section-first-message-1 {
    position: absolute;
    right: -40px;
    bottom: 10px;
}

.ct-second-section-first-message-2 {
    position: absolute;
    right: -50px;
    bottom: 120px;
}

.ct-second-section-first-message-3 {
    position: absolute;
    right: -40px;
    bottom: 200px;
}

@media (max-width: 1800px) {

    .ct-second-section-container {
        max-width: 1200px;
    }
}

@media (max-width: 1440px) {

    .ct-second-section-container {
        max-width: 1024px;
    }

    .ct-second-section-first-content-title {
        font-size: 40px;
        line-height: 52px;
    }

}

@media (max-width: 1199px) {


    .ct-second-section-container {
        max-width: 900px;
    }

    .ct-second-section-first-content {
        margin-top: 12px;
    }

    .ct-second-section-second-content {
        margin-top: 32px;
    }
    
    .ct-second-section .rpp-section-first-content {
        padding-left: 0px !important;
    }

}

@media (max-width: 1000px) {

    .ct-second-section-container {
        max-width: 768px;
    }

}



@media (max-width: 769px) {

    .ct-second-section-first-div {
        border-radius: 0px !important;
    }


    .ct-second-section-first-div {
        padding: 20px;
    }

    .ct-second-section-container {
        padding-top: 0px;
    }

}

@media (max-width: 599px) {

    .ct-second-section-first-content-title {
        max-width: 250px;
        font-size: 32px;
        line-height: 40px;
    }
    
    .ct-second-section-first-content-description {
       
        margin-top: 14px;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
    }

}


