.eigth-section {
    position: relative;
    padding-bottom: 76px;
    /* min-height: 856px !important; */
    border-radius: 0 0 48px 48px ;
    /* background: #131313; */
}

.eigth-section-container {
    max-width: 1400px;
    
}

/* First Content */

.eigth-section-first-div {
    margin-top: -118px;
    height: auto;
    padding: 92px;
    border-radius: 48px;
    background: #131313;
}

.eigth-section-first-content-title {
    color:  #fff;

    /* H2 */
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 82px; /* 113.889% */
}

.eigth-section-first-content-description {
    margin-top: 10px;
    margin-bottom: 5px;
    color:  #fff;
    /* font-family: Bahnschrift; */
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    max-width: 578px;
    margin-bottom: 18px;

}

.eigth-section-first-content-button {
    display: inline-flex;
    padding: 13px 68px;
    justify-content: center;
    align-items: center;
    gap: 12px;

    border-radius: 64px;
    background: linear-gradient(90deg, #FFC400 -1.92%, #F17727 63.45%);

    color: #FFF;
    text-align: center;
    /* font-family: "Articulat CF"; */
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 166.667% */

    text-decoration: none;
    margin-top: 48px;
}


/* 2nd Content */

.eigth-section-second-content {
    position: relative;
}

.eigth-section-second-content-img-1 {
    position: absolute;
    width: 582.492px;
    height: 350px;
    flex-shrink: 0;
    z-index: 2;
    transform: translate(-50%,-50%) !important;
    left: 50%;
    top: 75%;

}

.eigth-section-second-content-img-2 {
    position: absolute;
    width: 494.699px;
    height: 316.528px;
    flex-shrink: 0;
    flex-shrink: 0;
    z-index: 1;

    transform: translate(-50%,-50%) !important;
    left: 50%;
    top: 50%;
}

.eigth-section-second-content-img-3 {
    position: absolute;
    width: 383.644px;
    height: 245.471px;
    flex-shrink: 0;

    transform: translate(-50%,-50%) !important;
    left: 50%;
    top: 30%;
}

.eigth-section-scroll-section:hover .eigth-moving-text {
    color: #1681C2;
    
}

.eigth-section-scroll-section {
    overflow: hidden;
    cursor: pointer;
    position: relative;
    /* bottom: 76px; */
    height: 180px;
}

.eigth-moving-text {
    color: #FFF;
    /* H1 */
    /* font-family: "Articulat CF"; */
    font-size: 160px;
    font-style: normal;
    font-weight: 700;
    line-height: 180px; /* 112.5% */
    transition: color 0.3s ease-in;
}

.eigth-Vector {
    width: 42px;
    height: 77px;
    flex-shrink: 0;
}

.eigth-section-scroll-div {
    width: calc(1634.41px * 2);
    animation: LefttoRight 20s infinite linear;
    position: absolute;
    transform: translate(-50%,-50%);
    display: flex;
    white-space: nowrap;
}

.eigth-section-third-content-button,
.eigth-section-fourth-content-button  {
    border-radius: 64px;
    background: linear-gradient(90deg, #FFC400 -1.92%, #F17727 63.45%);
    display: inline-flex;
    padding: 13px 68px;
    justify-content: center;
    align-items: center;
 
    text-decoration: none;
     min-width: 288px;
    color: #FFF;
    text-align: center;
    /* font-family: "Articulat CF"; */
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 166.667% */
    cursor: pointer;
   
}

.eigth-section-third-content {
    display: none   ;
}

.cursor-btn {
    z-index: 1;
    position: absolute;
    overflow: hidden;
    border-radius: 64px;
    background: linear-gradient(90deg, #FFC400 -1.92%, #F17727 63.45%);
    display: none;
    padding: 13px 68px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color:  #FFF;
    text-align: center;
    /* font-family: "Articulat CF"; */
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 166.667% */
    transform: translate(-50%,-50%);
    min-width: 288px;
    /* cursor: pointer; */
}

.eigth-section-fourth-content-button {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    /* left:50%;
    top: 60%; */
    transform: translate(-50%,-70%);
    /* opacity: 0; */
    pointer-events: none;
    display: none;
}

.main .eigth-section-scroll-section:hover .eigth-section-fourth-content-button {
    display: 1 !important;
}

.eigth-section video {
    border-radius: 25px
}

.carousel-indicators {
    bottom: -75px !important;
}

.carousel-indicators [data-bs-target] {

    width: 200px;
    height: 100px;
    margin-left: 15px;
    margin-right: 15px;
    border: 5px solid #fff;
    /* opacity: 0.7 ; */
    background-color: rgba(0, 0, 0, .8)

}

.carousel-indicators .active {
    /* opacity: 1 !important; */
    background: none;
}

.carousel-caption {
    bottom: 10% !important;
}

.eight-section-carousel-caption-paragraph {
    color: white;
    background-color: rgba(19, 19, 19, 0.5);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* max-width: 578px; */
    margin-bottom: 18px;
}






@keyframes LefttoRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-1634.41px * 2));
    }
}


@media (max-width: 1800px) {

    .eigth-section-container {
        max-width: 1200px;
        
    }

    .eigth-section-first-content-title {
        font-size: 56px;
        line-height: 64px; /* 114.286% */
    }
 
}

@media (max-width: 1500px) {

    .eigth-section-container {
        max-width: 1024px;
    }

    .eigth-section-first-content-title {

        font-size: 40px;
        line-height: 52px;
    }

    .eigth-section-second-content-img-1 {
        width: 400px;
        height: 250px;
    }

    .eigth-section-second-content-img-2 {
        width: 320px;
        height: 230px;
    }

    .eigth-section-second-content-img-3 {
        width: 280px;
        height: 210px;
    }

    .carousel-caption {
        bottom: 0px !important;
    }

    .carousel-indicators {
        bottom: -100px !important;
    }

}



@media (max-width: 1200px) {
   
    /* .eigth-section-second-content {
        min-height: 450px;
    } */

    .eigth-section-first-content-title {
        font-size: 72px;
        line-height: 64px;
    }

    .eigth-section-first-div {
        padding: 48px;
    }
    

}



@media (max-width: 600px) {
    .eigth-section-first-content-title {
        font-size: 56px;
        line-height: 64px;
    }

    .eigth-section .padding-gap {
        padding: 0px;
    }

    .eigth-section-first-div    {
        padding: 24px;
        border-radius: 0px;
    }

    .eigth-section-second-content-img-1 {
        width: 90vw;
    }

    .eigth-section-second-content-img-2 {
        width: 75vw;
    }

    .eigth-section-second-content-img-3 {
        width: 50vw;
    }

    .carousel-indicators {
        bottom: -50px !important;
    }

    .carousel-indicators [data-bs-target] {
        width: 150px;
        height: 75px;
    }

    .eigth-section-scroll-section {
        background-color: #131313;
    }
}


@media (max-width: 500px) {

    .eigth-section-first-content-title {
        font-size: 32px;
        line-height: 40px;
    } 

    .eigth-section-first-content-btn {
        display: none;
    }

    .eigth-section-third-content {
        display: flex;
    }

    .carousel-indicators {
        bottom: -50px !important;
    }

    .carousel-indicators [data-bs-target] {
        width: 150px;
        height: 75px;
    }

}

@media (max-width: 450px) {

    .eigth-section-first-content-title {
        font-size: 32px;
        line-height: 40px;
    } 

    .eigth-section-first-content-btn {
        display: none;
    }

    .eigth-section-third-content {
        display: flex;
    }

    .carousel-indicators {
        bottom: -50px !important;
    }

    .carousel-indicators [data-bs-target] {
        width: 100px;
        height: 50px;
    }

    .eigth-section-first-div {
        padding-bottom: 100px;
    }



}

/* 
@media (max-width: 1199px) {

    .eigth-section-container {
        max-width: 768px;
        height: 1000px;
        
    }

    .eigth-section-first-div {
        margin-top: 0 !important;
        height: 1000px;
    }

    .eigth-section-first-content {
        max-height: 150px;
    }

    .eigth-section-second-content {
        min-height: 600px;
    }

    .eigth-section-second-content-img-1 {

        width: 453.333px;
        height: 346.90px;
        bottom: -150px;
        left: 50px;

    
    }

    .eigth-section-second-content-img-2 {

        width: 400.79px;
        height: 256.01px;
        bottom: -50px;
        left: 75px;
    }

    .eigth-section-second-content-img-3 {

        width: 332.714px;
        height: 232.714px;


        left: 100px;
        top: 200px !important;
    }


    .eigth-section-third-content  {
        max-height: 100px;

        display: flex;
    }

    .eigth-section-first-content-title .eigth-section-first-content-button {
        display: none !important;
    }

    .eigth-section {

        min-height: 1400px !important;

        
    }

    .eigth-section-scroll-section {
        margin-top: 200px;

    }

    .eigth-section {
        padding-bottom: 0 !important;
    }
}


@media (max-width: 768px) {


    .eigth-section-container {
        max-width: 100%;
        
    }

    .eigth-section-first-div {
        border-radius: 18px;
        padding: 20px;
        height: auto !important;
    }

    .eigth-section-first-content-title {

   
        font-size: 32px;
        line-height: 40px; 
    }

    .eigth-section-second-content-img-1 {
        width: 353.333px;
        height: 269.444px;
        left: 50% !important;
        transform: translate(-50%,-50%);
        top: 225px !important;
    
        
    }

    .eigth-section-second-content-img-2 {
        width: 300.079px;
        height: 192.002px;
        left: 50% !important;
        transform: translate(-50%,-50%);
        top: 150px !important;
    }
    

    .eigth-section-second-content-img-3 {
        width: 232.714px;
        height: 148.9px;
        left: 50% !important;
        transform: translate(-50%,-50%);
        top: 100px !important;
    }

    .eigth-section-second-content {
        min-height: 350px !important;
    }


    .eigth-section-container {
        height: 600px;
    }

    .eigth-section {
        min-height: auto !important;
    }

    .eigth-section-scroll-section {
        margin-top: 200px !important;
    }

    .eigth-moving-text {
        font-size: 72px !important;
        font-weight: 700 !important;
        line-height: 35.512px !important;
    }   

    .eigth-Vector {
        width: 18.189px;
        height: 33.346px;
        flex-shrink: 0;
    }

    @keyframes LefttoRight {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(calc(-1089.603px * 2));
        }
    }
    
    .eigth-section-fourth-content-button {
        width: 287.97px;
    }

    .eigth-section-scroll-section {
        overflow-x: hidden;
    }
} */