
.fifth-section {
    /* background: #FFCA5D; */
    /* background: #131313; */
    position: relative;
    /* min-height: 900px !important; */
    padding-bottom: 118px;
}

.fifth-section-container {
    max-width: 1400px;
    /* height: 662px; */
    
}

/* First Content */

.fifth-section-first-div {
    margin-top: -118px;
    height: auto;
    padding: 92px;
    border-radius: 48px;
    background: white;
    /* height: 714px; */
}

.fifth-section-first-content-title {
    color:  #131313;

    /* H2 */
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 82px; /* 113.889% */
}

.fifth-section-first-content-title span {
    color: #569E4C;
}

.fifth-section-first-content-description {
    color:  #131313;
    /* body-text-huge */
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 133.333% */
    margin-top: 36px;
    max-width: 578px;
}

.fifth-section-first-content-button,
.fifth-section-third-content-button-2 {
    display: inline-flex;
    padding: 13px 68px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;

    border-radius: 64px;
    background: linear-gradient(90deg, #FFC400 -1.92%, #F17727 63.45%);

    color: #FFF;
    text-align: center;
    /* font-family: "Articulat CF"; */
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 166.667% */

    text-decoration: none;
    margin-top: 48px;
}

.fifth-section-third-content-button-2 {
    display: none;
}


/* 2nd Content */

.fifth-section-second-content {
    position: relative;
}


.fifth-section-second-content-comment {
    /* width: 584px;
    height: 220px; */
    flex-shrink: 0;
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.10);
    padding: 24px;
    z-index: 1;

}

.fifth-section-second-content-profile {
    margin-right: 18px;
}

.fifth-section-second-content-profile img {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
}

.fifth-section-second-content-username {
    color: #1681C2;
    margin-top: 9px;
    /* H11 */
/*                font-family: "Articulat CF";*/
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
}

.fifth-section-second-content-platform {
    color: #414141;

    /* body-text-small */
/*                font-family: Bahnschrift;*/
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.fifth-section-second-content-comments {
    width: 458px;
    margin-top: 20px;
    color: #131313;

    /* body-text-normal */
/*                font-family: Bahnschrift;*/
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 150% */

}


.fifth-section-advertisment-container {
    width: 980px; 
    height: 90px;
    background: #858585; 
}

.fifth-section-third-content {
    display: none;
}


.fifth-section-second-content .circle-1 {
    width: 182px;
    height: 182px;
    position: absolute;
    bottom: 100px;
    right: -50px;
}

.fifth-section-second-content .circle-2 {
    width: 52px;
    height: 52px;
    position: absolute;
    top: 50px;
    left: -50px;
}

.fifth-section-second-content .circle-3 {
    width: 26px;
    height: 26px;
    position: absolute;
    bottom: 50px;
    left: -25px;
}


.fifth-section-second-content .circle-4 {
    width: 26px;
    height: 26px;
    position: absolute;
    top: 165px;
    right: 225px;
}

.image-1 {
    width: 168px;
    height: 168px;
    position: absolute;
    top: 50px;
    right: 50px;
    cursor: pointer;
}

.image-2 {
    width: 103px;
    height: 103px;
    position: absolute;
    bottom: 25px;
    right: 0px;
    cursor: pointer;
}

.image-3 {
    width: 81px;
    height: 81px;
    position: absolute;
    bottom: 15px;
    right: 200px;
    cursor: pointer;
}

.image-4 {
    width: 185px;
    height: 185px;
    position: absolute;
    bottom: 15px;
    left: 20px;
    cursor: pointer;
}

.image-5 {
    width: 65px;
    height: 65px;
    position: absolute;
    top: 100px;
    left: 10px;
    cursor: pointer;
}

.image-5 {
    width: 65px;
    height: 65px;
    position: absolute;
    top: 100px;
    left: 10px;
    cursor: pointer;
}

.image-6 {
    width: 132px;
    height: 132px;
    position: absolute;
    top: 75px;
    left: 125px;
    cursor: pointer;
}


@media (max-width: 1800px) {

    .fifth-section-container {
        max-width: 1200px;
        
    }
    
    .fifth-section-first-content-title{

        font-size: 56px;
        line-height: 64px;
    }

    .fifth-section-first-content-button {
        display: inline-flex;
        padding: 13px 43px !important;
    }

/*     .fifth-section-second-content-comment {
        width: 420px;
        height: 270px;
    } */

    .fifth-section-second-content-comments {
        width: 320px;
    }

    .fifth-section-second-content .circle-2 {
        top: 50px;
        left: 0px;
    }

    .image-5 {
        top: 70px;
        left: 60px;
    }

    .image-6 {
        top: 0px;
        left: 130px;
        cursor: pointer;
    }

    .image-1 {
        top: 10px;
        right: -50px;
    }

    .fifth-section-second-content .circle-1 {
        bottom: 20px;
    }

    .image-2 {
        right: 25px;
    }

    .image-3 {
        bottom: 30px;
        right: 160px;
    }

    .image-4 {
        bottom: -25px;
        left: 20px;
    }
}


@media (max-width: 1500px) {

    .fifth-section-container {
        max-width: 1024px;
    }
    
    .fifth-section-first-content-title{
        font-size: 40px;
        line-height: 52px;
    }

    .fifth-section-first-content-description {
        margin-top: 18px;
    }

    .fifth-section-first-content-button {
        display: inline-flex;
        padding: 13px 43px !important;
    }

    /* .fifth-section-second-content-comment {
        width: 420px;
        height: 270px;
    } */

    .fifth-section-second-content-comments {
        width: 320px;
    }

    .fifth-section-second-content .circle-2 {
        top: 50px;
        left: 0px;
    }

    .image-5 {
        top: 50px;
        left: 60px;
    }

    .image-6 {
        top: 0px;
        left: 130px;
        cursor: pointer;
    }

    .image-1 {
        top: -50px;
        right: -80px;
    }

    .fifth-section-second-content .circle-1 {
        bottom: 20px;
    }

    .image-2 {
        right: -25px;
        bottom: 0px
    }

    .image-3 {
        bottom: -30px;
        right: 100px;
    }

    .image-4 {
        bottom: -50px;
    }
}


@media (max-width: 1199px) {

    .fifth-section-container {
        max-width: 900px;
        margin-top: 0px !important;
    }

    .fifth-section-first-div {
        padding: 48px;
    }
    
    .fifth-section-first-content-title{
        font-size: 72px;
        line-height: 64px;
    }

    .fifth-section-first-content-button {
        display: inline-flex;
        padding: 13px 43px !important;
    }

    .fifth-section-second-content {
        height: 450px;
    }

    /* .fifth-section-second-content-comment {
        width: 420px;
        height: 270px;
    } */

    .fifth-section-second-content-comments {
        width: 320px;
    }

    

    .image-5 {
        top: 50px;
        left: 200px;
    }

    .image-6 {
        top: 0px;
        left: 320px;    
    }

    .image-1 {
        top: 0px;
        right: 50px;
    }

    .image-2 {
        right: 100px;
        bottom: 0px;
    }

    .image-3 {
        bottom: 0px;
        right: 250px;
    }

    .image-4 {
        bottom: 0px;
    }

    .fifth-section-second-content .circle-2 {
        top: 50px;
        left: 120px;
    }

    .fifth-section-second-content .circle-1 {
        bottom: 20px;
        right: 80px;
    }

    .fifth-section-second-content .circle-3 {
        left: 230px;
    }
    
}

@media (max-width: 900px) {

    .fifth-section-second-content {
        height: 600px;
    }

    .fifth-section-second-content-comment {
        display: block !important;
    }

    .image-1 {
        width: 125px;
        height: 125px;
    }

    .image-4 {
        width: 150px;
        height: 150px;
    }


    .image-5 {
        top: 40px;
        width: 45px;
        height: 45px;
    }

    .image-6 {
        top: 25px;
        width: 100px;
        height: 100px;
    }

    


}

@media (max-width: 600px) {

    .fifth-section-container {
        max-width: 900px;
        margin-top: 0px !important;
    }
    
    .fifth-section-first-content-title{
        font-size: 56px;
        line-height: 64px;
    }

    

}


@media (max-width: 500px) {
    .fifth-section-first-content-title {
        font-size: 32px;
        line-height: 40px;
    }

    .fifth-section-first-div {
        padding: 24px;
        border-radius: 0px;
    }

    .fifth-section-first-content-description {
        margin-top: 12px;
    }

    .fifth-section-container .padding-gap {
        padding: 0px;
    }

    .fifth-section-second-content-comments {
        width: 280px;
    }

    

    .image-1 {
        width: 84.329px;
        height: 84.329px;
        top: 80px;
        right: 0px;
    }

    .image-2 {
        width: 44.333px;
        height: 43.7px;
        flex-shrink: 0;
        right: 20px;
        bottom: 80px;
    }

    .image-3 {
        width: 34.833px;
        height: 34.833px;
        bottom: 60px;
        right: 225px;
    }

    .image-4 {
        width: 79.405px;
        height: 79.405px;
        bottom: 80px;
    }

    .image-5 {
        top: 50px;
        left: 70px;
        width: 32.488px;
        height: 32.488px;
    }


    .image-6 {
        width: 66.358px;
        height: 66.358px;
        top: 80px;
        left: 120px;
    }   

    .fifth-section-second-content .circle-1 {
        width: 106px;
        height: 106px;
        bottom: 100px;
        right: 0px;
    }
    
    .fifth-section-second-content .circle-1 {
        
        width: 26.267px;
        height: 26.267px;
        top: 50px;
        left: 30px;
    }

}
