 
.fourth-section {
    position: relative;
    padding-bottom: 118px;
}

.fourth-section-container {
    max-width: 1400px;
}

/* First Card */

.fourth-section-first-div {
    margin-top: -118px;
    height: auto;
    padding: 92px;
    border-radius: 48px;
    background: #FFCA5D;
}

.fourth-section-first-content-title {
    color:  #131313;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 82px;
}

.fourth-section-first-content-title span {
    color: #B17B0D;
}

.fourth-section-first-content-description {
    color:  #131313;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    margin-top: 36px;
    max-width: 578px;
}

/* Sencond Card */

.fourth-section-second-div {
    background: #131313;
    padding: 64px;
    border-radius: 48px;
    min-height: 100%;
}

.fourth-section-first-content-title-2 {
    color: #FFF;
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
    margin: 18px 0px;
}

.fourth-section-first-content-title-2 span {
    color: #9E9E9E;
}

.fourth-section-first-content-description-2 {
    color: #FFF;

    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; 
}
/* Third Card */

.fourth-section-third-div-3 {
    background: #fff;
    padding: 64px;
    border-radius: 48px;
    height: 794px;
    position: relative;
}

.fourth-section-first-content-title-3 {
    color: #414141;
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
    margin: 18px 0px;
}

.fourth-section-first-content-title-3 span {
    color: #E7AA2D;
}
.fourth-section-first-content-title-3 span-2 {
    color: #1681C2;
}

.fourth-section-first-content-description-3 {
    color: #131313;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}

.fourth-section-first-content-description-3-img {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0 !important;
}

@media (max-width: 1800px) {

    .fourth-section-container {
        max-width: 1200px;
    }

    .fourth-section-first-content-title,
    .fourth-section-first-content-title-2,
    .fourth-section-first-content-title-3 {
        font-size: 56px;
        line-height: 64px;
    }

    .fourth-section-third-div-3 {
        height: 700px;
    }
}


@media (max-width: 1500px) {

    .fourth-section-container {
        max-width: 1024px;
    }

    .fourth-section-first-content-title,
    .fourth-section-first-content-title-2,
    .fourth-section-first-content-title-3 {
        font-size: 40px;
        line-height: 52px;
    }

    .fourth-section-third-div-3 {
        height: 651px;
    }

    .fourth-section-first-content-description {
        margin-top: 18px;
    }
}



@media (max-width: 1199px) {

    .fourth-section-container {
        max-width: 900px;
        margin-top: 0px !important;
    }

    .fourth-section-first-content-title,
    .fourth-section-first-content-title-2,
    .fourth-section-first-content-title-3 {
        font-size: 72px;
        line-height: 64px;
    }


    .fourth-section-first-div,
    .fourth-section-second-div,
    .fourth-section-third-div-3 {
        padding: 48px;
    }

    .fourth-section-third-div-3 {
        height: 850px;
    }

    .fourth-section-first-content-description {
        margin-top: 18px;
    }
}

@media (max-width: 700px) {

    .fourth-section-third-div-3 {
        height: 780px;
    }

}

@media (max-width: 600px) {

    .fourth-section-first-content-title,
    .fourth-section-first-content-title-2,
    .fourth-section-first-content-title-3 {
        font-size: 56px;
        line-height: 64px;
    }

    .fourth-section-third-div-3 {
        height: 750px;
    }

}

@media (max-width: 500px) {

    .fourth-section-first-content-title,
    .fourth-section-first-content-title-2,
    .fourth-section-first-content-title-3 {
        font-size: 32px;
        line-height: 40px;
    }

    .fourth-section-first-div,
    .fourth-section-second-div,
    .fourth-section-third-div-3 {
        padding: 24px;
        border-radius: 18px;
    }

    .fourth-section-third-div-3 {
        height: 600px;
    }

}