.sixth-section {
    /* background: #FFCA5D; */

    
    /* background: #131313; */

    position: relative;
    padding-bottom: 118px;
    
}

.sixth-section-container {
    max-width: 1400px;
    
}

/* First Card */

.sixth-section-first-div {
    margin-top: -118px;
    padding: 92px;
    border-radius: 48px;
    background: #8ECB86;
    /* height: 534px; */
}

.sixth-section-first-content-title {
    color:  #131313;

    /* H2 */
    
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 82px; /* 113.889% */
}

.sixth-section-first-content-title span {
    color: #fff;
}

.sixth-section-first-content-description {
    color:  #131313;
    /* body-text-huge */
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 133.333% */
    margin-top: 36px;
    max-width: 578px;
}

/* Sencond Card */

.sixth-section-second-div {
    background: #569E4C;
    /* height: 534px; */
    padding: 64px;
    border-radius: 48px;
    min-height: 100%; 
}

.sixth-section-first-content-title-2 {
    color: #131313;

    /* H5 */
    /* font-family: "Articulat CF"; */
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
    margin: 18px 0px;
}

.sixth-section-first-content-title-2 span {
    color: #fff;
}

.sixth-section-first-content-description-2 {
    color: #FFF;

    /* body-text-huge */
    /* font-family: Bahnschrift; */
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 133.333% */
}

/* Third Card */

.sixth-section-third-div-3 {
    position: relative;
    background: #fff;
    padding: 64px;
    border-radius: 48px;
    height: 794px;
    
}

.sixth-section-first-content-title-3 {
    color: #569E4C;
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
    margin: 18px 0px;
}

.sixth-section-first-content-title-3 span {
    color: #131313;
}

.sixth-section-first-content-description-3 {
    color: #131313;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}

.sixth-section-first-content-phone {
    position: absolute;
    bottom: 0;
    padding: 0 !important;
    max-width: 280px;
}

@media (max-width: 1800px) {

    .sixth-section-container {
        max-width: 1200px;
    }

    .sixth-section-first-content-title{

        font-size: 56px;
        line-height: 64px;
    }

}

@media (max-width: 1500px) {

    .sixth-section-container {
        max-width: 1024px;
    }

    .sixth-section-first-content-title,
    .sixth-section-first-content-title-2,
    .sixth-section-first-content-title-3{
        font-size: 40px;
        line-height: 52px;
    }

    .sixth-section-first-content-description {
        margin: 18px;
    }

    .sixth-section-first-content-phone {
        max-width: 240px;
    }

}


@media (max-width: 1199px) {

    .sixth-section-container {
        max-width: 900px;
        margin-top: 0px !important;
    }

    .sixth-section-first-content-title,
    .sixth-section-first-content-title-2,
    .sixth-section-first-content-title-3{
        font-size: 72px;
        line-height: 64px;
    }

    .sixth-section-first-div,
    .sixth-section-second-div,
    .sixth-section-third-div-3 {
        padding: 48px;
    }

    .sixth-section-first-content-phone {
        max-width: 300px;
    }
}

@media (max-width: 700px) {

    .sixth-section-first-content-phone {
        max-width: 280px;
    }

}


@media (max-width: 600px) {

    .sixth-section-first-content-title,
    .sixth-section-first-content-title-2,
    .sixth-section-first-content-title-3{
        font-size: 56px;
        line-height: 64px;
    }

    .sixth-section-first-content-phone {
        max-width: 250px;
    }

}

@media (max-width: 500px) {

    .sixth-section-first-content-title,
    .sixth-section-first-content-title-2,
    .sixth-section-first-content-title-3{
        font-size: 32px;
        line-height: 40px;
    }

    .sixth-section-first-div ,
    .sixth-section-second-div,
    .sixth-section-third-div-3  {
        padding: 24px;
        border-radius: 18px;
    }

    

}

/* 
@media (max-width: 1800px) {

    .sixth-section-container {
        max-width: 1250px;
        
    }
    
    .sixth-section-first-content-title{

        font-size: 56px;
        line-height: 64px;
    }

    .sixth-section-second-div,
    .sixth-section-third-div-3  {
        min-height: 100%;
    }


}


@media (max-width: 1199px) {

    .sixth-section {

        padding-bottom: 0 !important;
    }

    .sixth-section-container {
        max-width: 768px;
        
    }

    .sixth-section-first-div {
        margin-top: 0px;
    }
    
    .sixth-section-first-div,
    .sixth-section-second-div {
        height: auto;
    }

    .sixth-section-third-div-3 {
        height: 700px;
    }

    .sixth-section-first-content-phone {
        max-width: 300px !important;
    }
   


}

@media (max-width: 768px) {


    .sixth-section-container {
        max-width: 100%;
        
    }

    .sixth-section-first-div {
        border-radius: 18px;
        padding: 20px;
    }

    .sixth-section-first-content-title {
        font-size: 32px;
        line-height: 40px; 
    }

    .sixth-section-first-content-description {
        font-size: 16px;
        line-height: 24px; 
        margin-top: 14px;
    }

    .sixth-section-second-content {
        margin-top: 20px !important;
    }

    .padding-gap {
        padding: 20px !important;
    }

    .sixth-section-second-div,
    .sixth-section-third-div-3 {
        border-radius: 18px;
        padding: 24px !important;

    }

    .sixth-section-first-content-title-2,
    .sixth-section-first-content-title-3 {
        font-size: 24px !important;
        line-height: 36px !important; 
        font-weight: 700 !important;
    }

    .sixth-section-first-content-description-2,
    .sixth-section-first-content-description-3 {
        font-size: 16px;
        line-height: 24px;
    }
  
}


 */
