* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* section {
    min-height: 100vh;
} */

.rating-h3 {

    color:  #E7AA2D;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 144px; /* 225% */
}

.h3 {

/*    font-family: Bahnschrift;*/
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 144px; /* 225% */
}


/* .h4 {
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
} */

.h6 {
    /* H6 */
/*     font-family: "Articulat CF";*/
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px; /* 130% */
    color: #fff !important;
}

.h7 {

    /* font-family: Bahnschrift; */
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
}

.h8 {
/*    font-family: "Articulat CF";*/
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 125% */
}


.row {
    margin: 0;
}

.padding-gap {
    padding: 26px;
}


.main {
    background-color: #131313;
    margin-bottom: 479px;
    transition: background-color 1s;
    border-radius: 0 0 48px 48px ;
    overflow: hidden;
    display: none;
}

body {
    display: none;
    
}

/* Duration  */

body[data-aos-duration='4000'] [data-aos],
[data-aos][data-aos][data-aos-duration='4000'] {
  transition-duration: 4000ms;
}


body[data-aos-duration='5000'] [data-aos],
[data-aos][data-aos][data-aos-duration='5000'] {
  transition-duration: 5000ms;
}

body[data-aos-duration='6000'] [data-aos],
[data-aos][data-aos][data-aos-duration='6000'] {
  transition-duration: 6000ms;
}

body[data-aos-duration='7000'] [data-aos],
[data-aos][data-aos][data-aos-duration='7000'] {
  transition-duration: 7000ms;
}

/* DELAY */

body[data-aos-delay='4000'] [data-aos],
[data-aos][data-aos][data-aos-delay='4000'] {
  transition-delay: 4000ms;
}

body[data-aos-delay='5000'] [data-aos],
[data-aos][data-aos][data-aos-delay='5000'] {
  transition-delay: 5000ms;
}

body[data-aos-delay='6000'] [data-aos],
[data-aos][data-aos][data-aos-delay='6000'] {
  transition-delay: 6000ms;
}


body[data-aos-delay='7000'] [data-aos],
[data-aos][data-aos][data-aos-delay='7000'] {
  transition-delay: 7000ms;
}



@media (max-width: 1024px) {

    .main {
        margin-bottom: 525px;
    }
}





@media (max-width: 768px) {

    .main {

        margin-bottom: 50px;
    }
   



}

.typed-cursor {
    opacity: 0 !important;
}


.preloader {
    display: flex;
    background-color: #131313;
    position: fixed;
    width: 100%;
    z-index: 100;
    height: 100vh;
    transition: top 2s ease; /* Add transition for smooth animation */
    top: 0; /* Initially placed at the top */
    justify-items: center;
    align-items: center;
}

.slide-up {
    top: -100vh; /* Move preloader division to the top (-100vh) */
}


.preloader-content {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 32px;
    display: flex;
    flex-wrap: wrap;
    z-index: 999999 !important;
}



