.third-section {
    position: relative;
    padding-bottom: 118px;
}

.third-section-container {
    max-width: 1400px;
}

.container-fluid {
    padding: 0 !important;
}

/* First Card */

.third-section-first-div {
    margin-top: -118px;

    height: auto;
    padding: 92px;
    border-radius: 48px;
    background: #9ad9ff;
}

.third-section-first-content-title {
    color: #131313;
    /* H2 */
    /* font-family: "Articulat CF"; */
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 82px; /* 113.889% */
}

.third-section-first-content-title span {
    color: #1681c2;
}

.third-section-first-content-description {
    color: #131313;
    /* body-text-huge */
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 133.333% */
    margin-top: 36px;
}

/* Sencond Card */

.third-section-second-div {
    background: #1681c2;
    /* height: 534px; */
    padding: 64px;
    border-radius: 48px;
    min-height: 100%;
}

.third-section-first-content-title-2 {
    color: #fff;

    /* H5 */
    /* font-family: "Articulat CF"; */
    font-size: 72px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
    margin: 18px 0px;
}

.third-section-first-content-title-2 span {
    color: #9ad9ff;
}

.third-section-first-content-description-2 {
    color: #fff;

    /* body-text-huge */
    /* font-family: Bahnschrift; */
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 133.333% */
}


/* Third Card */

.third-section-third-div-3 {
    background: #131313;
    padding: 64px;
    border-radius: 48px;
    min-height: 100%;
}

.third-section-first-content-title-3 {
    color: #fff;

    /* H5 */
    /* font-family: "Articulat CF"; */
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
    margin: 18px 0px;
}

.third-section-first-content-title-3 span {
    color: #e7aa2d;
}

.third-section-first-content-description-3 {
    color: #fff;

    /* body-text-huge */
    /* font-family: Bahnschrift; */
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 133.333% */
}

/* Ads */

.second-img-background {
    min-width: 1750px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.third-section-ads-1 {
    position: absolute;
    top: -50px;
    left: 56px;
    width: 120px;
    height: 600px;
    flex-shrink: 0;
    background: #858585;
}

.third-section-ads-2 {
    position: absolute;
    top: -50px;
    right: 56px;
    width: 120px;
    height: 600px;
    flex-shrink: 0;
    background: #858585;
}

/* Ads - End */

@media (max-width: 1800px) {
    .second-img-background {
        min-width: 1600px;
    }

    .third-section-container {
        max-width: 1200px;
    }

    .third-section-first-content-title,
    .third-section-first-content-title-2,
    .third-section-first-content-title-3 {
        font-size: 56px;
        line-height: 64px; /* 114.286% */
    }

    .third-section-second-div,
    .third-section-third-div-3 {
        min-height: 100%;
    }
}

@media (max-width: 1500px) {
    .second-img-background {
        min-width: 1400px;
    }

    .third-section-container {
        max-width: 1024px;
    }

    .third-section-first-content-title,
    .third-section-first-content-title-2,
    .third-section-first-content-title-3 {
        font-size: 40px;
        line-height: 52px;
    }

    .third-section-second-div,
    .third-section-third-div-3 {
        min-height: 100%;
    }

    .third-section-first-content-description {
        margin-top: 18px;
    }
}

@media (max-width: 1199px) {
    .second-img-background {
        min-width: 1400px;
    }

    .third-section-container {
        max-width: 900px;
        margin-top: 0px !important;
    }

    .third-section-first-div {
        margin-top: 0px !important;
    }

    .third-section-first-content-title,
    .third-section-first-content-title-2,
    .third-section-first-content-title-3 {
        font-size: 72px;
        line-height: 64px;
    }

    .third-section-first-div,
    .third-section-second-div,
    .third-section-third-div-3 {
        padding: 48px;
    }
}

@media (max-width: 600px) {
    .third-section-first-content-title,
    .third-section-first-content-title-2,
    .third-section-first-content-title-3 {
        font-size: 56px;
        line-height: 64px;
    }
}

@media (max-width: 500px) {
    .third-section-first-content-title,
    .third-section-first-content-title-2,
    .third-section-first-content-title-3 {
        font-size: 32px;
        line-height: 40px;
    }

    .third-section-first-div,
    .third-section-second-div,
    .third-section-third-div-3 {
        padding: 24px;
        border-radius: 18px;
    }

    .third-section-first-content-description {
        margin-top: 12px;
    }
}